 @font-face {
     font-family: Jost;
     src: url(./Jost/static/Jost-SemiBold.ttf);
     font-weight: 600;
     font-display: swap;
 }

 @font-face {
     font-family: Jost;
     src: url(./Jost/static/Jost-Regular.ttf);
     font-weight: 400;
     font-display: swap;
 }


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 body {
     margin-top: 15px;
     color: rgba(147, 149, 211, 1);
     font-family: Jost;
     font-weight: 600;
 }

 .header {
     width: 70%;
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: rgba(147, 149, 211, 1);
     border-radius: 10px;
     color: white;
 }

 .header img {
     width: 60px;
     height: 60px;
 }

 .task-list {
     width: 70%;
     margin: auto;
 }

 #start-message {
     margin: 10px;
 }

 .task {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     background-color: rgba(240, 240, 240, 1);
     border: 3px solid rgba(147, 149, 211, 1);
     border-radius: 5px;
     padding: 8px 12px;
     margin: 10px 0 10px 0;
 }

 .taskParagraph {
     display: flex;
     margin-left: 4px;
     width: 55%;
 }

 .completed {
     background-color: rgba(147, 149, 211, 1);
     color: white;
 }

 .completed p {
     text-decoration: line-through;
 }

 .input-panel {
     width: 85%;
     padding: 5px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     border: 3px solid rgb(141, 142, 185);
     border-radius: 5px;
 }

 .show-button-panel-hidden {
     display: none;
 }

 .show-button-panel-active {
     display: flex;
     flex-direction: row;
     margin: 20px auto 20px auto;
     align-items: center;
     width: 85%;
     justify-content: space-around;

 }

 .show-button-panel-active button {
     width: 25%;
     border: 3px solid rgba(147, 149, 211, 1);
     border-radius: 5px;
     color: rgb(147, 149, 211, 1);
     background-color: white;
     padding: 10px;
     font-family: Jost;
     font-weight: 400;
 }

 #task-date-input {
     width: 10%;
     background-color: rgba(147, 149, 211, 1);
     color: white;
     border: 2px solid rgb(141, 142, 185);
     border-radius: 4px;
     text-align: center;
     cursor: pointer;
 }

 ::placeholder {
     color: white;
     font-family: Jost;
     font-weight: 600;

 }

 #task-btn-add {
     padding: 4px;
     width: 10%;
     height: 65px;
     background-color: rgba(147, 149, 211, 1);
     border: 3px solid rgba(147, 149, 211, 1);
     border-radius: 3px;
     color: white;
     font-family: Jost;
     font-weight: 600;
 }

 .panel {
     width: 70%;
     margin: auto;
     margin-top: 25px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }

 .input-panel input {
     height: 50px;
     width: 75%;
     padding-left: 4px;
     border: none;
     outline: none;
     color: rgb(111, 113, 201);
     font-family: Jost;
     font-weight: 600;
 }


 .panelBtn {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .deadline {
     margin: 10px;
     padding: 0 10px 0 10px;
     background-color: rgba(147, 149, 211, 1);
     border-radius: 3px;
     color: white;
 }

 .buttons {
     display: flex;
     margin: 10px;
 }

 .remove,
 .edit,
 .editing,
 .ok,
 .check {
     margin: 0 10px;
     width: 24px;
     height: 24px;
     border-radius: 4px;
     border: 2px solid rgb(141, 142, 185);
     cursor: pointer;
 }

 .remove {
     background: url(./image/Trash.png) center / contain no-repeat;
 }

 .edit,
 .editing {
     background: url(./image/Pencil.png) center / contain no-repeat;
 }

 .check {
     appearance: none;
     background: url(./image/CheckCircle.png) center / contain no-repeat;
 }

 .ok {
     background-color: rgba(240, 240, 240, 1);
     font-size: 14px;
     color: rgb(141, 142, 185);
 }


 .check {
     appearance: none;
     background-image: url(./image/CheckCircle.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }



 .edit-input {
     resize: none;
     overflow: hidden;
     field-sizing: content;
     font-size: 16px;
 }

 .edit-date,
 .edit-input {
     padding-left: 3px;
     border: 3px solid rgb(141, 142, 185);
     border-radius: 5px;
     outline: none;
     color: rgb(111, 113, 201);
     font-family: Jost;
     font-weight: 400;
 }



 @media (max-width:1280px) {

     #task-date-input {
         width: 15%;
     }
 }

 @media (max-width:998px) {
     .taskParagraph {
         margin-left: 3px;
         width: 65%;
     }

     .panelBtn {
         flex-direction: column;
     }
 }

 @media (max-width:768px) {

     .header,
     .panel,
     .task-list {
         width: 85%;
     }

     .task-list {
         flex-wrap: nowrap;
         flex-direction: column;
     }

     .taskParagraph {
         width: 95%;
     }

     .panelBtn {
         flex-direction: row;
     }

     .taskParagraph {
         justify-content: center;
     }

     .show-button-panel-active {
         justify-content: space-between;
     }

     .show-button-panel-active button {
         width: 35%;
     }
 }

 @media (max-width:480px) {
     .input-panel {
         width: 79%;
     }

     #task-date-input {
         width: 20%;
     }

     #task-btn-add {
         width: 15%;
     }

     .show-button-panel-active button {
         width: 40%;
     }

 }